<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Заказ оформлен</title>-->
<!--    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">-->
<!--</head>-->
<!--<body>-->
<!--<main align="center">-->
<!--    <article>-->

<!--        Ваша заказ успешно оформлен-->
<!--        <br><br><br>-->
<!--        <a href={{url_for('bp_order.order_index')}}> Нажмите для возврата в меню покупок</a>-->

<!--    </article>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->