<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск поставок</title>
</head>
<body>
    <center>
        <div class="rectangle text_center">Введите параметры поиска</div>
        <br><br>
        <form action="" method="post">
            <label for="pr_year"><strong>Год</strong></label>
            <input type="number" name="pr_year" id="pr_year">
            <br><br>
            <input type="submit" class="custom-button" value="Отправить">
            <input type="reset" class="custom-button" value="Очистить">
            <input type="button" class="custom-button" value="Вернуться назад" onclick="history.back()">
        </form>
<!--        <p>Year received in HTML: {{ pr_year }}</p>-->
    </center>
</body>
</html>
